body {
    background: #231F20;
    text-align: center;
}
h1 {
    color: #FFF;
    font-family: 'Oswald';
    font-weight: 700;
    position: relative;
    margin: 30px auto;
    text-transform: uppercase;
    width: 550px;
}
h1::before,
h1::after {
    background-color:#4A90E2;
    content: '';
    display: inline-block;
    height: 30px;
    width: 25px;
    position: absolute;
}
h1::before {
    border-radius: 120px 0px 0px 120px;
    top: 10px;
    left: 10px;
}
h1::after { 
    border-radius: 0px 120px 120px 0px;
    top: 10px;
    left: 515px;
}